<!DOCTYPE html>

<html>
  <head>
    <title>DevJobs - Oferta</title>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="Detalles completos de la oferta de empleo seleccionada."
    />

    <link rel="stylesheet" href="../styles/styles.css" />
  </head>

  <body>
    <header class="header header--nav">
      <div class="header__title">
        <a href="./index.html" class="header__logo color--light">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="color--secondary icon icon-tabler icons-tabler-outline icon-tabler-brackets-angle"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M8 4l-5 8l5 8" />
            <path d="M16 4l5 8l-5 8" />
          </svg>
          DevJobs</a
        >
      </div>

      <nav class="header__nav">
        <a class="link" href="./index.html">Inicio</a>
        <a class="link" href="./empleos.html">Empleos</a>
        <a class="link" href="">Empresas</a>
        <a class="link" href="">Salarios</a>
      </nav>

      <div class="header__actions">
        <a class="header__btn header__btn--primary" href=""
          >Publicar un empleo</a
        >
        <a class="header__btn" href="./signin.html">Iniciar Sesión</a>
      </div>
    </header>

    <main class="main-container">
      <nav class="breadcrumb color--muted" aria-label="Ruta de navegación">
        <a class="color--muted" href="empleos.html">Empleos</a> /
        <span>Ingeniero de Software Senior</span>
      </nav>

      <article class="job-details">
        <section class="section-details section-details__title">
          <div class="u-flex-column">
            <h1>Ingeniero de Software Senior</h1>
            <div class="job-details__meta">
              <span class="job-details__company">Tech Solutions Inc.</span>
              <span class="job-details__separator">·</span>
              <span class="job-details__location">Remoto</span>
              <span class="job-details__posted">Hace 3 días</span>
            </div>
          </div>
          <button class="u-box-shadow" type="submit">Aplicar ahora</button>
        </section>

        <section class="section-details">
          <h2>Descripción del Puesto</h2>
          <p>
            Tech Solutions Inc. está buiscando un Ingeniero de Software Senior
            altamente motivado y experimentado para unirse a nuestro equipo
            remoto. El candidato ideal tendrá una sólida formación en desarrollo
            de software, con experiencia en el diseño, desarrollo e
            implementación de soluciones de software escalables y de alto
            rendimiento. Como Ingeniero de Software Senior, usted será
            responsable de liderar proyectos de desarrollo, mentorizar a
            ingenieros junior y colaborar con equipos multifuncionales para
            entregar productos de software.
          </p>
        </section>
        <section class="section-details">
          <h2>Responsabilidades</h2>
          <ul class="section-details__list">
            <li>
              Diseñar, desarrollar y mantener aplicaciones web utilizando
              tecnologías modernas.
            </li>
            <li>
              Colaborar con equipos de producto y diseño para definir y entregar
              nuevas características.
            </li>
            <li>Escribir código limpio, eficiente y bien documentado.</li>
            <li>
              Realizar revisiones de código y proporcionar retroalimetación
              constructiva a los miembros del equipo.
            </li>
          </ul>
        </section>
        <section class="section-details">
          <h2>Requisitos</h2>
          <ul class="section-details__list">
            <li>Licenciatura en Informática o campo relacionado.</li>
            <li>Mínimo de 5 años de experiencia en desarrollo de software.</li>
            <li>
              Experiencia con fframeworks de JavaScript (por ejemplo, React,
              Angular, Vue.js)
            </li>
            <li>
              Familiaridad con metodologías ágiles y herramientas de control de
              versiones (por ejemplo, Git).
            </li>
          </ul>
        </section>
        <section class="section-details section-details__about">
          <h2>Acerca de la empresa</h2>
          <p>
            Tech Solutions Inc. es uan empresa de tecnología innovadora que se
            centra en la creación de soluciones de software de vanguardia para
            diversas industrias. Estamos comprometidos con el fomento de un
            entorno de trabajo colaborativo e inclusivo donde cada empleado
            pueda prosperar y crecer profesionalmente. Ofrecemos salarios
            Competitivos, beneficios integrales y oportunidades de desarrollo
            profesional continuo.
          </p>
        </section>

        <section class="section-details section-details__button">
          <button
            class="u-box-shadow"
            type="button"
            aria-label="Aplicar a la oferta"
          >
            Aplicar ahora
          </button>
        </section>
      </article>
    </main>
  </body>
</html>
