<!DOCTYPE html>

<html>
  <head>
    <title>DevJobs - Sesión</title>
    <meta charset="UTF-8" />
    <meta name="description" content="Pagina para Iniciar Sesión" />

    <link rel="stylesheet" href="../styles/styles.css" />
  </head>

  <body>
    <header class="header--signin">
      <h2>
        <a href="./index.html" class="logo">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="icon icon-tabler icons-tabler-outline icon-tabler-brackets-angle"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M8 4l-5 8l5 8" />
            <path d="M16 4l5 8l-5 8" />
          </svg>
          DevJobs</a
        >
      </h2>

      <nav>
        <a href="./index.html">Inicio</a>
        <a href="./empleos.html">Empleos</a>
        <a href="">Empresas</a>
        <a href="">Salarios</a>
      </nav>
    </header>

    <main>
      <div class="container">
        <section class="greeting">
          <h1>Welcome Back</h1>
          <p>Log in to find your next opportunity.</p>
        </section>

        <form class="signin_form">
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-mail"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"
              />
              <path d="M3 7l9 6l9 -6" />
            </svg>
            <input
              class="--singin"
              required
              type="text"
              placeholder="Email"
              aria-label="Ingrese correo Electronico"
            />
          </div>
          <div>
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-lock"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M5 13a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-6z"
              />
              <path d="M11 16a1 1 0 1 0 2 0a1 1 0 0 0 -2 0" />
              <path d="M8 11v-4a4 4 0 1 1 8 0v4" />
            </svg>
            <input
              class="--singin"
              required
              type="text"
              placeholder="Password"
              aria-label="Ingrese contraseña"
            />
          </div>
          <section class="password_actions">
            <div>
              <input
                class="custom-checkbox"
                id="rememberCheckbox"
                type="checkbox"
              />
              <label for="rememberCheckbox" class="custom-label"></label>
              <p>Recordar Contraseña</p>
              <p></p>
            </div>
            <a href="#">Recuperar contraseña</a>
          </section>
          <button class="button_signin" type="submit">Ingresar</button>
          <section class="section_registration">
            <h3>¿No tienes unas cuenta?</h3>
            <div>
              <button type="submit">Registrate como desarrollador</button>
              <button type="submit">Registrate como compañia</button>
            </div>
          </section>
        </form>
      </div>
    </main>

   

  </body>
</html>
