<!DOCTYPE html>

<html>
  <head>
    <title>DevJobs - Sesión</title>
    <meta charset="UTF-8" />
    <meta name="description" content="Pagina para Iniciar Sesión" />

    <link rel="stylesheet" href="../styles/styles.css" />
  </head>

  <body>
    <header class="header header--nav header--signin">
      <div class="header__title">
        <a href="./index.html" class="header__logo color--light">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24"
            height="24"
            viewBox="0 0 24 24"
            fill="none"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
            class="color--secondary icon icon-tabler icons-tabler-outline icon-tabler-brackets-angle"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none" />
            <path d="M8 4l-5 8l5 8" />
            <path d="M16 4l5 8l-5 8" />
          </svg>
          DevJobs</a
        >
      </div>

      <nav class="header__nav header__nav--signin">
        <a class="link" href="./index.html">Inicio</a>
        <a class="link" href="./empleos.html">Empleos</a>
        <a class="link" href="">Empresas</a>
        <a class="link" href="">Salarios</a>
      </nav>
    </header>

    <main class="main-container">
      <section class="section section-gretting">
        <h1 class="hero__title">Welcome Back</h1>
        <p>Log in to find your next opportunity.</p>
      </section>

      <form
        class="form form--signin"
        role="form"
        aria-labelledby="signin-title"
      >
        <fieldset class="signin__credentials">
          <legend class="visually-hidden">Inicio de sesión</legend>
          <div class="div--inputs u-bg">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-mail"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z"
              />
              <path d="M3 7l9 6l9 -6" />
            </svg>
            <input
              class="input--signin"
              required
              type="text"
              placeholder="Email"
              aria-label="Ingrese correo Electronico"
            />
          </div>
          <div class="div--inputs u-bg">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2"
              stroke-linecap="round"
              stroke-linejoin="round"
              class="icon icon-tabler icons-tabler-outline icon-tabler-lock"
            >
              <path stroke="none" d="M0 0h24v24H0z" fill="none" />
              <path
                d="M5 13a2 2 0 0 1 2 -2h10a2 2 0 0 1 2 2v6a2 2 0 0 1 -2 2h-10a2 2 0 0 1 -2 -2v-6z"
              />
              <path d="M11 16a1 1 0 1 0 2 0a1 1 0 0 0 -2 0" />
              <path d="M8 11v-4a4 4 0 1 1 8 0v4" />
            </svg>
            <input
              class="input--signin"
              required
              type="text"
              placeholder="Password"
              aria-label="Ingrese contraseña"
            />
          </div>
        </fieldset>
        <section class="section section-actionPass">
          <div>
            <input
              class="custom-checkbox"
              id="rememberCheckbox"
              type="checkbox"
            />
            <label for="rememberCheckbox" class="custom-label"></label>
            <h3>Recordar Contraseña</h3>
          </div>
          <a class="color--primary" href="#">Recuperar contraseña</a>
        </section>
        <button class="button--signin u-box-shadow" type="submit">Ingresar</button>
        <section class="section section-registration">
          <h3 class="section-registration__title">¿No tienes unas cuenta?</h3>
          <div class="section-registration__div">
            <button class="u-br-solid u-bg" type="button">Registrate como desarrollador</button>
            <button class="u-br-solid u-bg" type="button">Registrate como compañia</button>
          </div>
        </section>
      </form>
    </main>
  </body>
</html>
