/* 1. RESET Y VARIABLES */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --text-primary: #ffffff;
  --text-secondary: rgba(203, 213, 225, 0.9);
  --text-muted: rgba(148, 163, 184, 1);
  --primary: #3b4550;
  --primary-400: #0a3d66;
  --primary-300: #0d5ba8;
  --primary-200: #0d6efd;
  --primary-100: #09f;
  --background: #06182a;
  --items-bg: #1e293b;
  --container-bg: rgba(30, 41, 59, 0.4);
  --shadow: rgba(0, 0, 0, 0.2);
  --border: rgba(255, 255, 255, 0.1);
  --hsla-example: hsla(210, 100%, 56%, 1);
  --space-xs: 0.5rem;
  --space-sm: 1rem;
  --space-md: 1.5rem;
  --space-lg: 2rem;
  --space-xg: 2.5rem;
}

@font-face {
  font-family: "Inter Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(https://cdn.jsdelivr.net/fontsource/fonts/inter:vf@latest/latin-wght-normal.woff2)
    format("woff2-variations");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA,
    U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193,
    U+2212, U+2215, U+FEFF, U+FFFD;
}

/* ---------------------------------------------------------- */

/* 2. TIPOGRAFÃA Y COLORES */
body {
  font-family: "Inter Variable", system-ui, sans-serif;
  text-wrap: balance;
  background-color: var(--background);
  color: var(--text-primary);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  line-height: 1.6;
}

/* Main Texts */
h1 {
  font-size: 3rem;
  line-height: 1.2;
}

h2 {
  font-size: 2rem;
  margin: var(--space-sm) 0;
}

h3 {
  font-size: 1.2rem;
  font-weight: 500;
}

p {
  margin-bottom: var(--space-lg);
  color: var(--text-secondary);
  font-size: 1rem;
  text-wrap: wrap;
}

small {
  color: var(--text-muted);
  font-size: 0.875rem;
}

/* Links */
a {
  text-decoration: none;
  color: var(--text-secondary);
  transition: all 0.3s;
  font-weight: 500;
}

a:hover,
a:focus {
  color: var(--primary-200);
  outline: none;
}

/* ---------------------------------------------------------- */

/* 3. LAYOUTS (estructura general) */

/* Main Container */
.main-container {
  width: min(90%, 1280px);
  margin-inline: auto;
  margin-bottom: var(--space-lg);
}

/* Containers */
div {
  display: flex;
  align-items: center;
  padding: var(--space-xs);
  gap: var(--space-xs);
}

/* Header */
.header {
  border-bottom: 1px solid var(--border);
  background: var(--background);
  padding: var(--space-sm) var(--space-sm);
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-lg);
}

/* Main Header (without buttons) */
.header__nav--signin {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* Hero */
.hero {
  height: 500px;
  & > img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    left: 0;
    right: 0;
    mask-image: linear-gradient(
      to bottom,
      rgba(16, 25, 34, 1) 5%,
      rgba(16, 25, 34, 0) 80%
    );
  }
}

/* Footer */
footer {
  background-color: var(--background);
  border-top: 1px solid var(--border);
  text-align: center;
  padding: 16px;
}

/* ---------------------------------------------------------- */

/* 4. COMPONENTES REUTILIZABLES */

/* Headers */
.header--nav {
  position: sticky;
  top: 0;
  z-index: 10;
}

.header--section {
  gap: initial;
  flex-direction: column;
  border: none;
  text-align: center;
  padding-top: var(--space-xg);
}

.header--profile {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  width: 300px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

/* Header Components */
.header__logo {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  font-weight: 700;
}

.header__btn {
  padding: var(--space-xs) var(--space-sm);
  border-radius: 0.5rem;
  font-size: 0.875rem;
  font-weight: 700;
  display: inline-block;
  background-color: #334155;
  color: var(--text-primary);
}

.header__nav {
  align-items: center;
  gap: var(--space-sm);
  display: flex;
}

.header__nav .link:hover,
.header__nav .link:focus {
  color: var(--primary);
}

/* Header Variant Components */
.header--profile .header__nav {
  flex-direction: column;
  align-items: flex-start;
}

.header--profile .header__nav .link {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
}

/* Titles */
.header--nav .header__title {
  font-size: 1.25rem;
  font-weight: 700;
  margin-bottom: 0;
  padding: 0;
}

.hero__title {
  padding: var(--space-xg) 0 var(--space-sm);
}

/* Page Navigation */
.pagination {
  justify-content: center;
  gap: var(--space-xs);
  margin-block: var(--space-lg);
}

.pagination .link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.375rem;
}

.pagination .link:hover,
.pagination .link:focus {
  background-color: #fff;
}

.pagination .link:active {
  transform: scale(0.9);
}

.pagination .link.is-active {
  background-color: var(--primary-200);
  color: #fff;
  pointer-events: none;
}

/* Forms */
.form {
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  padding: var(--space-xg);
  margin: 0 auto;
  width: 100%;
}

.form--hero {
  max-width: 42rem;
  padding: 0 var(--space-md);
}

.form--search {
  max-width: 1280px;
  padding: 0;
  gap: var(--space-xs);
}

.form--signin {
  background-color: var(--container-bg);
  border-radius: 1.5rem;
  border: 1px solid var(--border);
  max-width: 42rem;
}

.form--profile {
  background-color: var(--shadow);
  border-radius: 2rem;
  max-width: 95%;
  margin: 0 0 var(--space-xg) var(--space-sm);
}

/* Inputs, Textareas*/
input,
textarea {
  flex: 1;
  width: 100%;
  background: transparent;
  border: none;
  padding: 0.75rem var(--space-xs);
  font-size: 1rem;
  font-family: inherit;
  color: var(--text-primary);
  outline: none;
  &::placeholder {
    color: var(--text-muted);
  }
}

.input--signin {
  padding: var(--space-xs) 0;
  font-size: 1.3rem;
}

input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

/* Selectors */
select {
  padding: 0.625rem var(--space-xg) 0.625rem 1.25rem;
  background-color: #242d3a;
  border: 0;
  border-radius: 0.5rem;
  font-size: 0.875rem;
  color: var(--text-primary);
  cursor: pointer;
  transition: all 0.2s;
  appearance: none;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 24 24' fill='none' stroke='white' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpolyline points='6 9 12 15 18 9'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-position: right 0.5rem center;

  &:hover {
    background-color: var(--primary-300);
    color: white;
  }

  &:focus {
    outline: 2px solid #1173d4;
    outline-offset: 2px;
  }
}

/* Buttons */
button {
  padding: 0.75rem var(--space-lg);
  border-radius: 0.75rem;
  background-color: var(--primary-200);
  color: white;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: all 0.3s ease;
  font-family: inherit;
  font-size: 1rem;
  white-space: nowrap;

  &:hover,
  &:focus {
    background-color: var(--primary-300);
    outline: 2px solid white;
    outline-offset: 2px;
  }

  &:active {
    transform: scale(0.9);
  }

  &:disabled {
    opacity: 0.5;
    pointer-events: none;
  }
}

/* Articles */
article {
  background-color: var(--items-bg);
  padding: var(--space-lg);
  margin-bottom: var(--space-lg);
  border-radius: 0.5rem;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.5);
}

/* Sections */
.section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-wrap: balance;
}

/* Unorder List */
ul {
  list-style: none;
  li {
    position: relative;
    padding-left: 3rem;
    line-height: 2rem;
    padding-bottom: var(--space-sm);
    &:last-child {
      padding-bottom: 0;
    }
  }
}

/* Fieldset */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
  min-inline-size: auto;
  display: flex;
  gap: var(--space-xs);
}

/* Legends */
legend {
  font-size: 1.25rem;
  font-weight: 600;
  color: var(--text-primary);
  padding-bottom: var(--space-sm);
}

/* SVG */
svg {
  background-color: transparent;
  height: 2rem;
  width: 2rem;
}

/* Specific classes "index" */
.feature__icon {
  color: var(--primary-200);
  background: rgba(0, 153, 255, 0.3);
  width: 64px;
  height: 64px;
  border-radius: 100%;
  padding: 16px;
}

/* Specific classes "empleos" */
.job-listing {
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 1rem;
  flex-direction: column;
  padding: 0;
  gap: 0;
}

.job-listing__article {
  background: none;
  box-shadow: none;
  border-radius: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 0;
  display: flex;
  align-items: start;
  gap: var(--space-sm);

  &.is-hidden {
    display: none;
  }

  &:last-child {
    border-bottom: none;
  }
}

/* Specific classes "oferta" */
.breadcrumb {
  margin: var(--space-xg) 0rem;
}

.job-details {
  display: block;
  background-color: var(--shadow);
  border-radius: 1rem;
}

.job-details__meta {
  color: var(--text-muted);
  font-size: 0.9rem;
  display: flex;
  gap: var(--space-xs);
  padding: 0;
}

.section-details {
  margin-bottom: var(--space-lg);
}

.section-details__title {
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.section-details__about {
  border-bottom: 1px solid var(--border);
}

.section-details__button {
  display: flex;
  justify-content: flex-end;
}

.section-details__list li::before {
  content: "";
  position: absolute;
  left: 0;
  width: 2rem;
  height: 2rem;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%2309f' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Cpath stroke='none' d='M0 0h24v24H0z' fill='none'/%3E%3Cpath d='M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0'/%3E%3Cpath d='M9 12l2 2l4 -4'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
}

/* Specific classes "signin" */
.section-gretting {
  height: 300px;
  justify-content: end;
}

.signin__credentials{
  flex-direction: column;
  gap: var(--space-lg);
}

.form--signin svg {
  margin-left: var(--space-xs);
}

.form__actions {
  flex-direction: unset;
  justify-content: space-between;
}

.form__actions .custom-label {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: var(--primary);
  border-radius: 0.3rem;
  border: 1px solid var(--border);
  cursor: pointer;
  position: relative;
  margin-right: var(--space-sm);
}

.form__actions .custom-checkbox {
  display: none;
}

.form__actions .custom-checkbox:checked + .custom-label {
  background-color: var(--primary-200);
}

.form__register .form__title {
  margin-bottom: var(--space-lg);
  color: var(--text-muted);
  &::before,
  &::after {
    border-top: 0.1rem solid var(--border);
    content: "";
    display: inline-block;
    margin: 0 0.2rem;
    transform: translateY(-0.3rem);
    width: 9rem;
  }
}

.form__register .form__buttons {
  gap: var(--space-sm);
}

/* Specific classes profile*/
.header--profile h3 {
  font-size: small;
}

.main-container--profile {
  margin-left: 300px;
  display: flex;
  flex-direction: column;
}

.fieldset-profile {
  padding-bottom: var(--space-lg);
  border-bottom: 1px solid var(--border);
  flex-direction: column;
  gap: var(--space-lg);
}

.fieldset-profile--cv {
  border-bottom: none;
}

/* Fields */
.field {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.field.half {
  flex: 0 0 calc(50% - var(--space-md) / 2);
}

.field__label {
  color: var(--text-secondary);
  font-size: 0.9rem;
  margin-bottom: 0.25rem;
}

/* Skill Area */
.skills__chip {
  align-items: center;
  padding: 0.4rem 0.8rem;
  border-radius: 100%;
}

.skills__add {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: transparent;
}

/* CV Area */
.cv-upload {
  min-height: 220px;
  border: 2px dashed var(--border);
  border-radius: 0.5rem;
  background-color: var(--items-bg);
}

/* -Clickable Area- */
.cv-upload__label {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-sm);
  width: 100%;
  height: 100%;
  color: var(--text-muted);
  padding: var(--space-md);
  cursor: pointer;
}

/* Icon */
.cv-upload__icon {
  stroke: var(--text-muted);
  width: 3.5rem;
  height: 3.5rem;
  transition: transform 0.2s ease, stroke 0.3s ease;
}

/* Main Text */
.cv-upload__text {
  font-weight: 600;
  font-size: 1.1rem;
  color: var(--text-primary);
}

/* Secondary Text */
.cv-upload__hint {
  font-size: 0.875rem;
  color: var(--text-secondary);
}

/* ---------------------------------------------------------- */

/* 5. UTILIDADES Y RESPONSIVE */

/* Espaciados*/
.u-pdline-0 {
  padding-inline: 0 !important;
}
.u-mt-0 {
  margin-top: 0 !important;
}
.u-mb-0 {
  margin-bottom: 0 !important;
}
.u-gap-0 {
  gap: 0 !important;
}

/* Distribuciones */
.u-js-end {
  justify-content: flex-end !important;
}
.u-flex-column {
  flex-direction: column;
  align-items: flex-start;
  padding: 0;
}
.u-flex-row {
  flex-wrap: wrap;
  gap: var(--space-md);
}
.u-input-group {
  background-color: var(--items-bg);
  border-radius: 0.5rem;
  box-shadow: 0 10px 15px -3px var(--shadow);
  border: solid 1px var(--primary);
}

/* Detalles visuales */
.u-br-none {
  border: none !important;
}
.u-br-solid {
  border: 2px solid var(--border) !important;
  border-radius: 0.5rem !important;
}
.u-box-shadow {
  box-shadow: 0 8px 12px rgba(13, 110, 253, 0.35),
    0 0 24px rgba(13, 110, 253, 0.25);
}

/* Colores */
.color--muted {
  color: var(--text-muted);
}
.color--light {
  color: var(--text-primary);
}
.color--primary {
  color: var(--primary-100);
}
.color--secondary {
  color: var(--primary-200);
}
.u-bg {
  background-color: var(--background);
}

/* Estados Globales */
.is-active {
  background-color: var(--primary-200) !important;
  color: var(--text-primary) !important;
  pointer-events: none;
}
.hover-brighten:hover {
  filter: brightness(1.2);
}
.hover-scale:hover {
  transform: scale(1.05);
}
.visually-hidden {
  position: absolute !important;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Modificaciones puntuales */
.header__btn--primary {
  background-color: var(--primary-400);
  color: var(--primary-100);
}
.form--search .u-input-group {
  padding-block: 0.25rem;
}
.header__actions {
  gap: var(--space-sm);
  padding: 0;
}
.button--signin {
  height: 3rem;
}

/* Responsive */
.section__footer {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 16px;
}
